.content {
    background-color: #ff260f;
    /*width: 99%;*/
    margin:  1px auto;
    /*padding: 1px;*/
}


.item_holder{
    width: 100%;
    margin: 1px auto;
    background-color: #3f16ff;
}

/*.content > div{*/
/*    margin: 8px;*/

/*}*/
