.nav{
    padding:  8px 0 0 16px;
    grid-area: n;
    background-color: rgb(34, 207, 34);
    font-size: large;
  }
    
  .item a{
    color: white;
    text-decoration: none;
  }

  .item > p{
    color: rgb(99, 247, 54);
  }

  .item a.activeLink{
    color: rgb(243, 247, 29);
  }



