
.post{
    color: rgb(4, 113, 3);
    background-color: rgb(247, 209, 18);
    /*margin: 1px 2px;*/
    /*border-radius: 8px;*/
}

.post_head {
    padding: 8px 4%;
}

.h33{
    font-size: large;
    font-weight: 700;
    margin: 0 auto;
}

.ava{
    padding: 8px;
}
.ava > img{
    width: 48px;
}
.message{
    padding: 1px;
    width: 98%;
    margin: auto;
}
