.App {
  text-align: center;

}

/* **************************************************** */
.app-wrapper{
  width: 80%;
  margin: 8px auto;
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  padding: 4px; 
  grid-gap: 4px;

  grid-template-areas:
  "h h"
  "n c"
  "f f"
  ;
  background-color: rgb(5, 132, 252);
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
